body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  height: fit-content;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url("/public/assets/hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  background-attachment: fixed;
}

#hero #text {
  width: 45%;
  height: fit-content;
  margin: 100px 30px;
  color: black;
  font-size: 22px;
}

#hero #text h1 {
  margin: 0;
}

#main div:nth-child(even) {
  background-color: #353535;
  box-shadow: inset 0 0px 4px 0px black, inset 0 0px 4px 0px black;
}

#main div {
  padding: 20px 0;
}

#main div p {
  width: 50%;
}
